.Card {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 405px;

  &-thumbnail {
    height: 250px;
    background-image: url('https://iso.500px.com/wp-content/uploads/2016/04/stock-photo-150595123-1500x1000.jpg');
    background-size: cover;
    position: relative;
  }

  &-author {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
    display: flex;

    &--avatar {
      height: 48px;
      width: 48px;
      border-radius: 50%;
    }

    &--content {
      color: #ffffff;
      margin-left: 16px;
      & > h4 {
        margin: 4px 0;
        font-size: 16px;
      }

      & > p {
        margin: 0;
        font-weight: 300;
        font-family: Helvetica;
      }
    }
  }

  &-content {
    padding: 16px;
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .story-link {
      color: inherit;
    }

    &--headline {
      font-size: 18px;
      font-weight: bold;
      margin-top: 0;
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &--description {
      font-size: 14px;
      color: #9b9b9b;
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  @media (max-width: 768px) {
      margin-bottom: 10px;
  }

  .Interaction {
    display: flex;
    justify-content: space-between;
    
    &-left {
      display: flex;

      &--item {
        display: flex;
        align-items: center;
        margin-right: 10px;
      }
    }
  }
}

.GridCard {
  margin-top: 32px;
  
  &-title {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;

    &--text {
      border-bottom: 1px solid #000;
      margin-bottom: -1px;

      & > h1 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 0;
      }
    }

    &--viewAll {
      & > a {
        color: #009688;
      }
    }
  }
}