.DraftEditor-editorContainer,.DraftEditor-root,.public-DraftEditor-content{height:inherit;text-align:initial}.public-DraftEditor-content[contenteditable=true]{-webkit-user-modify:read-write-plaintext-only}.DraftEditor-root{position:relative}.DraftEditor-editorContainer{background-color:rgba(255,255,255,0);border-left:.1px solid transparent;position:relative;z-index:1}.public-DraftEditor-block{position:relative}.DraftEditor-alignLeft .public-DraftStyleDefault-block{text-align:left}.DraftEditor-alignLeft .public-DraftEditorPlaceholder-root{left:0;text-align:left}.DraftEditor-alignCenter .public-DraftStyleDefault-block{text-align:center}.DraftEditor-alignCenter .public-DraftEditorPlaceholder-root{margin:0 auto;text-align:center;width:100%}.DraftEditor-alignRight .public-DraftStyleDefault-block{text-align:right}.DraftEditor-alignRight .public-DraftEditorPlaceholder-root{right:0;text-align:right}.public-DraftEditorPlaceholder-root{color:#9197a3;position:absolute;z-index:1}.public-DraftEditorPlaceholder-hasFocus{color:#bdc1c9}.DraftEditorPlaceholder-hidden{display:none}.public-DraftStyleDefault-block{position:relative;white-space:pre-wrap}.public-DraftStyleDefault-ltr{direction:ltr;text-align:left}.public-DraftStyleDefault-rtl{direction:rtl;text-align:right}.public-DraftStyleDefault-listLTR{direction:ltr}.public-DraftStyleDefault-listRTL{direction:rtl}.public-DraftStyleDefault-ol,.public-DraftStyleDefault-ul{margin:16px 0;padding:0}.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR{margin-left:1.5em}.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listRTL{margin-right:1.5em}.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listLTR{margin-left:3em}.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listRTL{margin-right:3em}.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listLTR{margin-left:4.5em}.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listRTL{margin-right:4.5em}.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listLTR{margin-left:6em}.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listRTL{margin-right:6em}.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listLTR{margin-left:7.5em}.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listRTL{margin-right:7.5em}.public-DraftStyleDefault-unorderedListItem{list-style-type:square;position:relative}.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth0{list-style-type:disc}.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth1{list-style-type:circle}.public-DraftStyleDefault-orderedListItem{list-style-type:none;position:relative}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR:before{left:-36px;position:absolute;text-align:right;width:30px}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listRTL:before{position:absolute;right:-36px;text-align:left;width:30px}.public-DraftStyleDefault-orderedListItem:before{content:counter(ol0) ". ";counter-increment:ol0}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth1:before{content:counter(ol1) ". ";counter-increment:ol1}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth2:before{content:counter(ol2) ". ";counter-increment:ol2}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth3:before{content:counter(ol3) ". ";counter-increment:ol3}.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth4:before{content:counter(ol4) ". ";counter-increment:ol4}.public-DraftStyleDefault-depth0.public-DraftStyleDefault-reset{counter-reset:ol0}.public-DraftStyleDefault-depth1.public-DraftStyleDefault-reset{counter-reset:ol1}.public-DraftStyleDefault-depth2.public-DraftStyleDefault-reset{counter-reset:ol2}.public-DraftStyleDefault-depth3.public-DraftStyleDefault-reset{counter-reset:ol3}.public-DraftStyleDefault-depth4.public-DraftStyleDefault-reset{counter-reset:ol4}

.ZeroEditor {
    position: relative;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}

.Toolbar {
   background-color: #272726;
   color: white;
   border-radius: 4px;
   position: absolute;  
   visibility: hidden;   
   z-index: 1;
   &-open {
      visibility: visible;
   }

    &::after {
        content: '';
        height: 20px;
        background-color: #272726;
        width: 20px;
        clear: both;
        display: block;
        position: absolute;
        left: calc(50% - 10px);
        transform: rotate(45deg) scale(.5);
        bottom: -10px;
    }
}

.InlineToolbar {
    display: inline-block;
    padding: 4px;
    &::after {
        content: '';
        position: absolute;
        height: 50%;
        top: 25%;
        width: 1px;
        background-color: rgba(255,255,255,.2);
    }
}

.BlockToolbar {
    display: inline-block;
    padding: 4px;
    &::after {
        content: '';
        position: absolute;
        height: 50%;
        top: 25%;
        width: 1px;
        background-color: rgba(255,255,255,.2);
    }
}

.StyleButton {
   display: inline-block;
   padding: 8px 4px;
   cursor: pointer;
   & > svg {
      fill: #FFF;
   }

   &:hover {
      & > svg {
         fill: #337ab7!important;
      }  
   }
}

.HyperLink {
    display: inline-block;
    padding: 4px;
    & span {
        display: inline-block;
        cursor: pointer;
        padding: 8px 4px;
        & > svg {
           fill: #FFF;
        }
    }
}

.SideToolBar {
    position: absolute;
    left: -35px;
    z-index: 1;
    &-addButton {
        padding: 2px;
        border: 1px solid #403c3c;
        border-radius: 50%;
        background: none;

        &:focus {
            outline: none 0;
        }

        &-open {
            transform: rotate(45deg);
        }
    }

    .ToolTips {
        display: inline-block;
        padding-left: 18px;
        & button {
            padding: 2px;
            border: 1px solid #403c3c;
            border-radius: 50%;
            background: none;
            margin-right: 9px;
            &:focus {
                outline: none 0;
            }

            &:hover {
                border-color: #fff;
                background-color: #337ab7;
                svg {
                    fill: #fff;
                }
            }

            & span {
                display: inline-block;
            }
        }

        & -Transistion {
            & -enter {
                transform: translate3d(-38px, 0px, 0px);
                opacity: 1;
            }

            & -appear {
                transform: translate3d(-38px, 0px, 0px);
                opacity: 1; 
            }
        }
    }

}