
/* 
  xs: < 576 px;  // full
  sm: 576 -> 767 // full
  md: 768 -> 991 // 1/2x 
  lg: 992 -> 1199 // x
  xl: 1200 ->     // x
*/
/* MainHeader */
.core-mh {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);

  &::before {
    content: '';
    background-image: url('https://cdn-images-1.medium.com/max/1600/1*Q1EQd1o9VTclVG0QHeFN_A.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &-nav {
    & > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  
      & > li {
        display: inline-block;
        margin-right: 16px;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 4px 5px;
        min-width: 100px;
        text-align: center;
        & > a {
          color: #fff;
        }
      }
    }
  }

  &-metabar {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    align-items: center;
  
    .metabar-logo {
      color: white;
      font-size: 22px;
      font-weight: bold;
    }
  
    .metabar-member {
      display: flex;
      align-items: center;
      & > a {
        color: white;
        margin-left: 12px;
      }
    }
  }

  &-content {
    color: white;
    text-align: center;
    margin-top: 46px;
    & > h1 {
      font-size: 28px;
      font-weight: bold;
    }

    & > p {
      margin-top: 32px;
      margin-bottom: 32px;
      font-size: 16px;
      color: #d8d8d8;
      @media screen and (min-width: 768px) {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    & > button {
      border-radius: 4px;
      background-color: #009688;
      border: solid 1px #009688;
      padding: 10px 34px;
      margin-bottom: 60px;
    }
  }

  &-avartar {
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }
  }

  &-userpopup {
    position: absolute;
    top: 110%;
    width: 150px;
    height: 200px;
    left: -58px;
    background-color: white;
    ul {
      padding: 0;
    }

    li {
      list-style: none;
      padding: 8px 16px;
      a {
        color: #797575;
      }
    }
  }
}
/* LoginModal */
.core-lm {
  &-fade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1040;
    background-color: #FFF;
    opacity: .5;
  }

  &-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    opacity: 1;
  }

  &-body {
    position: relative;
    height: 600px;
    width: 950px;
    background-color: #FFF;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    .button-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px;
      border: none;
      background-color: inherit;

      &:focus {
        outline: 0 none;
      }
    }

    .svg-icon {
      display: inline-block;
      height: 24px;
      vertical-align: middle;

      svg {
        height: 24px;
        width: 24px;
        fill: #333;
      }
    }

    @media (max-width: 991px) {
      width: 520px;
    }

    @media (max-width: 767px) {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  &-part {
    width: 50%;
    float: left;
    height: 100%;
    
    &--left {
      position: relative;
    }

    @media (max-width: 991px) {
      &--left {
        display: none;
      }

      &--right {
        width: 100%;
      }
    }
  }

  &-divider {
    position: absolute;
    height: 80%;
    width: 1px;
    background-color: #000;
    left: 50%;
    top: 10%;
  }

  &-slogan {
    padding: 0 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    h1 {
      font-size: 24px;
      color: #009688;
    }

    p {
      font-size: 28px;
      font-weight: 200;
    }
  }

  &-form {
    padding: 40px;

    h2 {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      padding: 0 10px;
      margin-top: 60px;
    }

    &--btns {
      margin-top: 100px;
    }
  }
}


.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.social-btn {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background-color: initial;
  margin-bottom: 16px;
  display: inline-block;
  text-align: center;
   
  &:focus {
    outline: none;
  }

  &-icon {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    margin-right: 5px;
  }

  &-title {
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
  }

  &.facebook {
    background-color: #2e6bb2;
    border-color: #2e6bb2;
    color: #FFF;

    svg {
      fill: #FFF;
    }
  }
}


/* difine class */

@media (max-width: 991px) {
  .hide-md {
    display: none;
  }
}